<div class="container">
    <div class="row">
       <div class="card col-md-4 m-3" style="width: 18rem;"><br>
    <img src="assets\images\moon.jpg" width="60px" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Testing Card </h5>
      <p class="card-text">Lorem ipsum dolor sit.</p>
      <button class="btn btn-primary"><a href="#" class="text-white ">View </a> </button>
    </div>
  </div>

  <div class="card col-md-4 m-3" style="width: 18rem;"><br>
    <img src="assets\images\moon.jpg" width="60px" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Testing Card </h5>
      <p class="card-text">Lorem ipsum dolor sit.</p>
      <button class="btn btn-primary"><a href="#" class="text-white ">View </a> </button>
    </div>
  </div>

  <div class="card col-md-4 m-3" style="width: 18rem;"><br>
    <img src="assets\images\moon.jpg" width="60px" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Testing Card </h5>
      <p class="card-text">Lorem ipsum dolor sit.</p>
      <button class="btn btn-primary"><a href="#" class="text-white ">View </a> </button>
    </div>
  </div>
</div>
</div>

