<div class="yellow-notification">
    <div class="yellow-notification-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="hv2-services notifier">
              <div class="hs-icon del">
              </div>
              <div class="hs-content">
                <p >PHP </p>
              </div>
             
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="hv2-services cursor-p">
              <div class="hs-icon loc">
                <a href="#">
                </a>
              </div>
              <div class="hs-content">
                <p>Store Locator</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div id="trackorder_trigger" class="hv2-services cursor-p">
              <div class="hs-icon tra">
                <a href="#">
                </a>
              </div>
              <div class="hs-content">
                <p style="cursor: pointer;">Order Tracking</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="hv2-services cursor-p news-v">
              <div class="hs-icon news">
              </div>
              <div class="hs-content">
                <p style="cursor: pointer;" class="nl-call">Newsletter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>